* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 手机屏幕的字体大小 */
@media screen and (max-width: 768px) {
    #app {
        font-size: 0.05rem;
    }
}

/* 笔记本电脑的字体大小 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #app {
        font-size: 0.08rem;
    }
}

/* 台式电脑显示器屏幕字体大小 */
@media screen and (min-width: 1024px) {
    #app {
        font-size: 0.08rem;
    }
}